<a href="https://colab.research.google.com/github/johnwesleyharding/BuildWeeks/blob/master/JWH_build_DS_Unit_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#%matplotlib inline

Excel file before cleaning:

In [2]:
ourl = 'https://github.com/johnwesleyharding/BuildWeeks/raw/master/lagdp1218original.xlsx'
original = pd.read_excel(ourl, sheet_name='Table')
original.head()

  Table 1. Prototype Real Gross Domestic Product by County, 2012 - 2015  ...     Unnamed: 9
0                                                NaN                     ...            NaN
1                                                NaN                     ...  Rank in State
2                                                NaN                     ...           2015
3                                            Alabama                     ...            NaN
4                                            Autauga                     ...              7

[5 rows x 10 columns]

Cleaning done manually on the Excel file including adding 'State' as a column, removing unneeded columns, condensing header rows to a single row, removeing blank rows.  Excel file after cleaning:

In [3]:
url = 'https://github.com/johnwesleyharding/BuildWeeks/raw/master/lagdp1218.xls'
df = pd.read_excel(url, sheet_name='Table')
df.head()

  State   County     2012     2013     2014     2015  p2013  p2014  p2015
0    AL  Autauga  1383941  1322416  1312668  1412939   -4.4   -0.7    7.6
1    AL  Baldwin  5599194  6218819  6247887  5981958   11.1    0.5   -4.3
2    AL  Barbour   639833   687532   663462   708778    7.5   -3.5    6.8
3    AL     Bibb   297560   314380   305472   291780    5.7   -2.8   -4.5
4    AL   Blount   632761   683949   661352   778131    8.1   -3.3   17.7

1 pivot table to group by GDP range

Now that I have data in the form I want it I specify names for graphing?